.kenkou-Head {
    padding-top: 15px;
    padding-bottom: 15px;
    grid-template-areas: "navigation heading icons";
    grid-template-columns: 1fr auto 1fr;
    display: grid;
    align-items: center;
    background-image: url("images/Kenkou80s.png");
}

.kenkou-Head-ul {
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.kenkou-Head-ul-li {
    padding: 1.2rem;
    text-decoration: none;
}

.kenkou-Body {
    background-color: #011f14;
}

.kenkou-Body-mainsection {
    text-align: center;
}

.kenkou-Body-mainsection-about {
    text-align: left;
}

.kenkou-Body-image {
    display: block;
    margin-left: 15%;
}

.kenkou-Body-image-about {
    display: block;
    margin-left: 5%;
}

.kenkou-Body-mainsection-span {
    color: aqua;
}

.kenkou-Body-mainsection-child {
    float: left;
}

.kenkou-member-body-mem {
    float: none;
}

.kenkou-member-body-memsec-mem {
    display: flex;
    background: blueviolet;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.kenkou-member-body-memsec-mem-ul {
    list-style: none;
}
